extends /apps/layouts/base


block bodyBlock
  .container
    header.row
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') Roleplay Fever
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              //- .active でカレントを示す
              if req.user
                li: a(href='/logout') Sign Out
              else
                li: a(href='/login') Sign In
                li: a(href='/user/create') Sign Up
    main.row
      .col-xs-12
        block contentBlock
