include /apps/mixins/fields
extends /apps/layouts/welcome


block contentBlock
  h2 Sign Up
  form(action=req.subApp.url, method='POST')
    input(type='hidden', name='_csrf', value=req.csrfToken())
    +emailField('email', inputs.email, error)
    +passwordField('password', inputs.password, error)
    input(type='submit', value='Submit')
