include /apps/mixins/fields
extends /apps/layouts/welcome


block contentBlock
  h2 Login
  form(action=req.subApp.url, method='POST')
    //-input(type='hidden', name='_csrf', value=req.csrfToken())
    +emailField('email', inputs.email, error)
    +passwordField('password', inputs.password, error)
    input(type='submit', value='Login')

  h2 アカウント未登録の方はこちらから
  ul
    li: a(href='/user/create') メールアドレスとパスワードで登録
    li: a(href='/user/create') LINE アカウントで登録
    li: a(href='/user/create') Twitter アカウントで登録
    li: a(href='/user/create') Facebook アカウントで登録
